<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="todo" (ngSubmit)="saveData()">
    <ion-list>
      <ion-item>
        <ion-label stacked>Todo</ion-label>
        <ion-input type="text" formControlName="title" placeholder="Nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Description</ion-label>
        <ion-textarea formControlName="description" placeholder="Descripción"></ion-textarea>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button block type="submit" [disabled]="!todo.valid">Guardar</button>
    </div>
  </form>
</ion-content>